.container{
	flex:1;
	display: flex;
	flex-direction: row;
	border-color: #aaa;
	border-style: solid;
	border-width: 0 0 2px 0; 
	color: #666;
	padding: 10px 13px;
}
.container img{
	margin-right: 12px;
}
.textContainer{
	flex: 1;
}
.text{
	margin-top: 5px;
	color: #777;
	display: block;
	font-size: 15px;
}
.header{
	display: flex;
}

.header b{
	margin-right: auto;
}
.like{
	color: #F2B6BD;
	margin-right: 15px;

}
.time{
	color: #ccc;
	font-size: 14px;
}
.readMore{
	background-color: #ddd;
    border-style: none;
    border-radius: 4px;
    padding: 7px;
    margin-top: 12px;
}
.centerText{
	text-align: center;
}

.sendPrivateMessage{
	padding: 5px 0;
}

.sendPrivateMessage span{
	font-size: 15px;
	display: flex;	
	justify-content: center;
	align-items: center;
}

.sendPrivateMessage .emailIcon{
	font-size: 40px;
	margin-right: 5px;
}