.contentContainer{
  display: flex; 
  flex-direction: row;
  flex: 1;
  margin: 0 auto;
}

.contentColumn {
  border: 2px #ccc solid;
  border-left: 0;
  flex-grow: 1;
  flex: 1;
  flex-direction: column;
}

